.primaryArea {
  max-width: 90%;
  background-color: whitesmoke;
  max-height: 100%;
  margin: 0 auto;
}

.myHeader {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  background-color: gold;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  text-align: center;
}

.myTable {
  position: relative;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
  margin: 0 auto;
}

tr {
  font-size: 10px;
}
